


 <!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 offset-md-1 mx-3 my-3">

        <!-- Featured image -->
        <div class="view overlay">
          <img src="https://i.imgur.com/1dnSOMn.png" class="img-fluid" alt="Sample image for first version of blog listing">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-7 text-md-left ml-3 mt-3">

        <!-- Excerpt -->
        <a  class="green-text">

          <h4 ><i class="fa fa-desktop pr-1"></i> Weather Application</h4>
        </a>

        <h5>My Awsome Application</h5>

        <p class="font-weight-normal">It is the first temperature index to take into account multiple factors to determine how hot or cold you feels, so you can determine how to dress. You can even add  Weather widget to your home screen and easily customize to show the weather where you are, where you’re going, or where you dream about going — anywhere on the planet!</p>
        <p class="font-weight-normal">by <a><strong>Elyes Maamouri</strong></a>, 05/11/2018</p>

        <a class="btn btn-success" (click)="btnregister()">Register</a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- News jumbotron -->
<hr>
  <app-animation ></app-animation>
